<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header"}}
    <link rel="stylesheet" href="/css/updates.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/timeline.html">Timeline</a>
        <a href="/advisors.html">Advisors</a>
        <a class="active" href="/updates.html">Updates</a>
    </div>
    <div class="subNavbar">
        <a class="active" href="#">Journals</a>
        <a href="#">Weekly Goals</a>
    </div>
    <div class="content">
        {{ if .IsJournal }}
            {{ template "journalEntry" .Data}}
        {{ else if .IsGoals }}

        {{ else }}

        {{ end }}
    </div>
</body>

</html>