<!DOCTYPE html>
<html lang="en">
<head>
    {{ template "header"}}
    <link rel="stylesheet" href="/css/updates.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/timeline.html">Timeline</a>
        <a href="/advisors.html">Advisors</a>
        <a class="active" href="/updates.html">Updates</a>
    </div>
    <div class="subNavbar">
        <a {{ if .IsJournal }} class="active" {{ end }} href="/updates/journals">Journals</a>
        <a {{ if .IsGoals }} class="active" {{ end }} href="/updates/goals">Weekly Goals</a>
        <a {{ if and (not .IsJournal) (not .IsGoals) }} class="active" {{ end }} href="/updates/bibliography.html">Bibliography</a>
    </div>
    <div class="container">
        {{ if .IsJournal }}
            {{ template "journalEntry" .Data}}
        {{ else if .IsGoals }}
            {{ template "dailyGoals" .Data}}
        {{ else }}
            Bibliography TBA
        {{ end }}
    </div>
</body>

</html>