{{ define "dailyGoals"}}

<div class="dailyGoals">
    <div class="weekly-goal" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Week of 11/08/21</h1>
        <ol>
            <li>Update Timeline to reflect the change in microgoal (data collection and analysis to fuzzing tool)</li>
            <li>Rewatch LiveOverflow youtube videos on buffer overflows</li>
            <li>Watch youtube videos on heap overflows and start reading articles and watching videos about browser internals</li>
        </ol>
        <h1>Week of 11/15/21</h1>
        <ol>
            <li>Research browser internal specifics, specifically the IPC layer and how browsers sandbox their resources and tabs</li>
            <li>Start researching how to download and set up test browsers</li>
            <ul>
                <li>Get a MacOS VM running on my computer</li>
                <li>Try to download older browser versions (older Chrome or Firefox browsers that are vulnerable to exploits)</li>
                <li>Get the environment set up with possible tools like GDB and Radare2</li>
            </ul>
        </ol>
        <h1>Week of 11/29/21</h1>
        <ol>
            <li>Update website with information about advisors</li>
            <li>Attempt to replicate an older sandbox exploit (CVE-2019-11708)</li>
            <li>Read more about Firefox internals</li>
        </ol>
        <h1>Week of 12/06/21</h1>
        <ol>
            <li>Finish detailed journal with background information</li>
            <li>Reach out to advisor about meeting on the 19th and working through sandbox bypass exploits and getting more advice</li>
            <li>Read more about firefox internals like their sandboxing methods and their IPC layer.</li>
            <li>Start taking a look at the source code.</li>
        </ol>
    </div>
</div>

{{ end }}