{{ define "dailyGoals"}}

<div class="dailyGoals">
    <div class="weekly-goal" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Week of 11/08/21</h1>
        <ol>
            <li>Update Timeline to reflect the change in microgoal (data collection and analysis to fuzzing tool)</li>
            <li>Rewatch LiveOverflow youtube videos on buffer overflows</li>
            <li>Watch youtube videos on heap overflows and start reading articles and watching videos about browser internals</li>
        </ol>
    </div>
</div>

{{ end }}