{{ define "dailyGoals"}}

<div class="dailyGoals">
    <div class="weekly-goal" style="margin-top: 10px; margin-bottom: 10px;">
        <h1>Week of 11/08/21</h1>
        <ol>
            <li>Update Timeline to reflect the change in microgoal (data collection and analysis to fuzzing tool)</li>
            <li>Rewatch LiveOverflow youtube videos on buffer overflows</li>
            <li>Watch youtube videos on heap overflows and start reading articles and watching videos about browser internals</li>
        </ol>
        <h1>Week of 11/15/21</h1>
        <ol>
            <li>Research browser internal specifics, specifically the IPC layer and how browsers sandbox their resources and tabs</li>
            <li>Start researching how to download and set up test browsers</li>
            <ul>
                <li>Get a MacOS VM running on my computer</li>
                <li>Try to download older browser versions (older Chrome or Firefox browsers that are vulnerable to exploits)</li>
                <li>Get the environment set up with possible tools like GDB and Radare2</li>
            </ul>
        </ol>
        <h1>Week of 11/29/21</h1>
        <ol>
            <li>Update website with information about advisors</li>
            <li>Attempt to replicate an older sandbox exploit (CVE-2019-11708)</li>
            <li>Read more about Firefox internals</li>
        </ol>
        <h1>Week of 12/06/21</h1>
        <ol>
            <li>Finish detailed journal with background information</li>
            <li>Reach out to advisor about meeting on the 19th and working through sandbox bypass exploits and getting more advice</li>
            <li>Read more about firefox internals like their sandboxing methods and their IPC layer.</li>
            <li>Start taking a look at the source code.</li>
        </ol>
        <h1>Week of 01/03/22</h1>
        <ol>
            <li>Retry replicating CVE-2019-11708</li>
            <li>Read more about firefox internals like their sandboxing methods and their IPC layer.</li>
            <li>Attempt to follow Firefox's methodology for building their fuzzer.</li>
            <li>Start taking a look at the source code.</li>
            <ul>
                <li>Understand IPC layer code</li>
                <li>Start making a list of things outside sandbox that are reachable by the IPC (filesystem, etc.)</li>
            </ul>
        </ol>
        <h1>Week of 01/10/22</h1>
        <ol>
            <li>Start working on the journal if possible</li>
            <li>Try to work on Grizzly and attempt to get a basic fuzzer working</li>
            <li>Start taking a look at the source code.</li>
            <ul>
                <li>Understand IPC layer code</li>
                <li>Start making a list of things outside sandbox that are reachable by the IPC (filesystem, etc.)</li>
            </ul>
        </ol>
        <h1>Week of 01/17/22</h1>
        <ol>
            <li>Finish journal</li>
            <li>Keep working on Grizzly</li>
            <ul>
                <li>Try to define custom interfaces</li>
                <li>Test custom interfaces</li>
            </ul>
            <li>Start taking a look at the source code. (Haven't been able to work on this for the past couple of weeks. It will probably be recurring for a couple of weeks
            since it's also a big codebase)</li>
            <ul>
                <li>Understand IPC layer code</li>
                <li>Start making a list of things outside sandbox that are reachable by the IPC (filesystem, etc.)</li>
            </ul>
        </ol>
        <h1>Week of 02/07/22</h1>
        <ol>
            <li>Attempt to understand how the Picture in Picture IPC messaging works (source code audit)</li>
            <li>Research VM-based snapshot fuzzing (or process-based snapshot fuzzing)</li>
            <li>Grizzly Interfaces</li>
            <ul>
                <li>More research into Grizzly interfaces (at first glance, Grizzly interfaces may not help with IPC fuzzing)</li>
                <li>Run the test interface</li>
            </ul>
        </ol>
        <h1>Week of 02/14/22</h1>
        <ol>
            <li>Start working on JS fuzzer to fuzz the JSActor methods</li>
            <ul>
                <li>Go through potential IPC methods to add to my fuzzer</li>
                <li>Add the different messages that I want to fuzz</li>
            </ul>
        </ol>
        <h1>Week of 02/28/22</h1>
        <ol>
            <li>Work on Journal 3</li>
            <ul>
                <li>Add the research I've done (JSActor documentation research)</li>
                <li>Add all the accomplishments I've done (Having Prompt:Open work and other IPC messages to work)</li>
            </ul>
            <li>Try to compile and build a basic version of Firefox on MacOS</li>
        </ol>
        <h1>Week of 03/07/22</h1>
        <ol>
            <li>Work on JS fuzzer</li>
            <ul>
                <li>Finish function to randomly generate string input</li>
                <li>Finish adding the messages to fuzz</li>
            </ul>
            <li>Research into CVE-2022-26486, a new sandbox bypass using the WebGPU IPC Framework</li>
        </ol>
    </div>
</div>

{{ end }}